# **Use data manipulation and summary statistics to analyze test scores across New York City's public schools**

## 1. Load Data

### a. Import necessary libraries

In [172]:
# Import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

### b. Read data with pandas

In [173]:
# Load Data
data = pd.read_csv("schools.csv")
# Display few rows
print(data.head(2))

                                         school_name    borough building_code  \
0  New Explorations into Science, Technology and ...  Manhattan          M022
1                               Essex Street Academy  Manhattan          M445

   average_math  average_reading  average_writing  percent_tested
0           657              601              601             NaN
1           395              411              387            78.9

### c. Dataset Info

In [174]:
# Display Dataset Infos
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 20.6+ KB
None

## 2. Which NYC schools have the best math results?
- The best math results are at least 80% of the *maximum possible score of 800* for math.
- Save the results in a pandas DataFrame called `best_math_schools`, including `"school_name"` and `"average_math"` columns, sorted by `"average_math"` in descending order.

### a. `Add has_math_best_score` Column

In [175]:
# add has_best_score column
average_math_col = 'average_math'
has_math_best_score_col ='has_math_best_score'
school_name_col = 'school_name'
math_best_score_threshold = 0.8 * 800
print("Math best score threshold: ", math_best_score_threshold)
data[has_math_best_score_col] = np.where(data['average_math'] >= math_best_score_threshold, 1, 0)
print(data.shape)

Math best score threshold:  640.0
(375, 8)

### b. Best math schools Dataframe `best_math_schools` with `school_name` and `average_math` columns, sorted by `average_math` in descending order

In [176]:
# Best math schools Dataframe with 'school_name' and 'average_math', sorted by "average_math" in descending order
best_math_schools = data[data[has_math_best_score_col]==1][[school_name_col, average_math_col]].sort_values(by=average_math_col, ascending=False)
print(best_math_schools.head())

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683

## 3. What are the top 10 performing schools based on the combined SAT scores?
- Save results as a pandas DataFrame called `top_10_schools` containing the `"school_name"` and a new column named `"total_SAT"`, with results ordered by `"total_SAT"` in descending order (`"total_SAT"` being the sum of math, reading, and writing scores)

### a. Add `total_SAT` column

In [177]:
# Add `total_SAT` column
total_SAT_col = 'total_SAT'
average_writing_col = 'average_writing'
average_reading_col = 'average_reading'

data[total_SAT_col] = data[[average_math_col, average_writing_col, average_reading_col]].sum(axis=1)
# OR data[total_SAT_col] = data[average_math_col] + data [average_writing_col] + data[average_reading_col]
print(data[[school_name_col, total_SAT_col]])

                                           school_name  total_SAT
0    New Explorations into Science, Technology and ...       1859
1                                 Essex Street Academy       1193
2                         Lower Manhattan Arts Academy       1261
3      High School for Dual Language and Asian Studies       1529
4        Henry Street School for International Studies       1197
..                                                 ...        ...
370  Queens High School for Information, Research, ...       1086
371  Rockaway Park High School for Environmental Su...       1114
372                   Channel View School for Research       1280
373                    Rockaway Collegiate High School       1207
374                                  Scholars' Academy       1716

[375 rows x 2 columns]

### b. `top_10_schools` containing the `"school_name"` and a new column named `"total_SAT"`, with results ordered by `"total_SAT"` in descending order (`"total_SAT"` being the sum of math, reading, and writing scores)

In [178]:
# top_10_schools Dataframe
top_10_schools = data[[school_name_col, total_SAT_col]].sort_values(by=total_SAT_col, ascending=False).head(n=10)
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

## 4. Which single borough has the largest standard deviation in the combined SAT score?

### a. Group by `borough` and calculation of `Standard deviation`, `number of schools in each borough` and `mean of total_SAT`

In [179]:
# Columns variables
borough_col = 'borough'
num_schools_col = 'num_school'
average_SAT_col = 'average_SAT'
std_SAT_col = 'std_SAT'

# borough dataframe
boroughs_data = data.groupby(borough_col).agg(num_schools=(borough_col, len), average_SAT=(total_SAT_col, 'mean'), std_SAT= (total_SAT_col, 'std')).reset_index().sort_values(by=std_SAT_col, ascending=False).round({num_schools_col:2, std_SAT_col:2, average_SAT_col:2}).reset_index(drop=True)
print(boroughs_data)

         borough  num_schools  average_SAT  std_SAT
0      Manhattan           89      1340.13   230.29
1  Staten Island           10      1439.00   222.30
2         Queens           69      1345.48   195.25
3       Brooklyn          109      1230.26   154.87
4          Bronx           98      1202.72   150.39

### b. Borough has the largest standard deviation in the combined SAT score

In [180]:
largest_std_dev = boroughs_data.loc[[0]] 
print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29